.wrapper{
    border: 2px solid white;
    border-radius: 10px;
    background-color: var(--darkaccent);
    font-size: 1.5em;
    min-width: 200px;
    width: 100%;
    margin: 0.7em;
    padding-bottom: 1em;
}

.headline{
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    text-align: center;
    width: 100%;
    background-color: var(--accentcolor1);
}

.content{
    margin-top: 1em;
    text-align: center;
    font-size: 1.2em;
}