.wrapper{
    border-radius: 10px;
    background-color: var(--darkaccent);
    min-height: 120px;
    min-width: 380px;
    display: flex;
    align-items: center;
    width: fit-content;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    border: 2px solid white;
    margin: 0.7em;
    font-size: 1.4em;
}
.headline{
    text-align: center;
    width: 100%;
    padding-bottom: 4px;
    margin-bottom: 10px;
    border-bottom: 2px solid white;
}