.app{
    overflow-x: hidden;
}


.navigationBar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    position: fixed;
    top: 0;
    height: 70px;
    width: 100vw;
    border-bottom: 2px solid var(--accentcolor1);
    background-color: var(--background);
    font-size: 2em;
}

.navigationBarButton{
    font-size: 0.9em;
    border-radius: 10px;
    cursor: pointer;
    transition-duration: .3s;
    padding: 10px;
    color: white;
    text-decoration: none;

    padding-left: 50px;
    padding-right: 50px;
    margin-left: 10px;
    margin-right: 10px;

    @media (max-width: 1200px) { font-size: 0.8em; padding-left: 25px; padding-right: 25px; margin: 7px;}
    @media (max-width: 800px) { font-size: 0.8em; padding: 6px; margin: 5px;}
    @media (max-width: 500px) { font-size: 0.6em;  padding: 6px; margin: 5px;}

    &:hover{
        background-color: var(--accentcolor1);
    }
}
.navBarButtons{
    margin-right: 5%;
    display: flex;
    align-items: flex-end;
}

.pageDisplay{
    min-height: 100vh;
    margin-top: 100px;
}

.navigationHeadline{
    font-size: 1.5em;
    @media (max-width: 800px) { font-size: 0.8em;}
    @media (max-width: 500px) { font-size: 0.6em;}
    margin-left: 0.5em;
    color: white;
}
