body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background);
  color: var(--textcolor);
}

:root{
  --background: #27272f;
  --darkaccent: #333333;
  --table1: #444444;
  --table2: #222222;
  --textcolor: #ffffff;
  --accentcolor1: #ff00ff;
}

th{
  color: var(--accentcolor1);
}

th, td, th{
  padding: 5px;
  text-align: left;
}

table tr:nth-child(even){
  background-color: rgb(65, 65, 65);
}

table td:nth-child(2), table th:nth-child(2) {
  text-align: right;
  padding-left: 30px;
  font-weight: bold;
}

table td:nth-child(3), table th:nth-child(3) {
  text-align: left;
  padding-left: 10px;
}

