body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background);
  color: var(--textcolor);
}

:root{
  --background: #27272f;
  --darkaccent: #333333;
  --table1: #444444;
  --table2: #222222;
  --textcolor: #ffffff;
  --accentcolor1: #ff00ff;
}